div#header
div#content
  h1= title
  div.left
    div#craft
  div.right
    div#info
       
div#footer

script(src="javascripts/shape.js")
script(src="javascripts/gin.js")
script(src="javascripts/craft.js")
