div#header
div#content
  h1= title
  div.left
    div#craft
  div.right
    div#help.
       Press Arrow keys Up/Down/Left/Right to control the space craft
div#footer

script(src="javascripts/gin.js")
script(src="javascripts/craft.js")
