div#header
div#content
  h1= title
  div.left
    div#craft
  div.right
    div#info
      div
        label status:
        span.status
      div
        label sx: 
        span.sx
      div
        label vx: 
        span.vx
      div
        label ax: 
        span.ax
      div
        label sy: 
        span.sy
      div
        label vy: 
        span.vy
      div
        label ay: 
        span.ay
      div
        label Message: 
        span.message   
div#footer

script(src="javascripts/shape.js")
script(src="javascripts/gin.js")
script(src="javascripts/craft.js")
